/* styles for calculator */
.hero header nav ul{
  flex-direction:column;
}
.hero header{
  margin-bottom:50px;
}
header{
  justify-content:center;
}
.hero-content{
  width:25%;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
}
#calculator{
  width:100%;
  display:flex;
  flex-direction:column;

}
#calculator .col-1{
  margin: 3px;
}
#calculator .col-2{
  width:53%;
  margin: 3px;
}

#calculator .button p{ 
  width:fit-content;
  color:white;
  margin:0;
}
#calculator .button-ghost-secondary-300 p{
  width:95%;
  color:unset;
}
 .button{
  padding:10px;
  margin:0;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

#display{
  border:2px solid var(--neutral-300);
  border-radius:5px;
  margin-bottom:10px;
}
#display p{
  margin:5px 0;
  padding:10px;
  text-align:end;
}