/*Main HTML for each project*/
html{

/* colors */
  /* neutral */
--neutral-50: #F6F6F6;
--neutral-100: #ECECEC;
--neutral-200: #E4E4E4;
--neutral-300: #DDDDDD;
--neutral-400: #C9C9C9;
--neutral-500: #B5B5B5;
--neutral-600: #9A9A9A;
--neutral-700: #7F7F7F;
--neutral-800: #606060; 
--neutral-900: #484848; 
  /* Primary */
--primary-50: #F8DEE8;
--primary-300: #ECBECF; 
--primary-500: #E48EAD; 
--primary-700: #BC406D; 
--primary-900: #7C2745;
  /* Secondary */
--secondary-50: #D0E1F9; 
--secondary-300: #A1BEE4;
--secondary-500: #5B89C5;
--secondary-700: #3D669C;
--secondary-900: #274A79; 
    /* Seccess */
--success-50: #BAE4CB; 
--success-300: #81E3A8; 
--success-500: #11D25E; 
--success-700: #0CB34F; 
--success-900: #02953D; 
    /* Warning */
--warning-50: #FFF7D1; 
--warning-300: #FFEC86; 
--warning-500: #FFE457; 
--warning-700: #FFD913; 
--warning-900: #DEBB02; 
    /* Error */
--error-50: #FFD6D6 ; 
--error-300:#FF8B8B; 
--error-500:#FF5F5F; 
--error-700:#DD4848; 
--error-900: #A41D1D; 
    /* Shades */
--shade-0: #FFFFFF; 
--shade-100: #333333; 

/* fonts */
font-family: 'Inter', sans-serif;
/* set base font size to 10px */
font-size: 62.5%;
}


body{
  margin:0px;
  font-size:2.1rem;
}
/* text size */
.h-1{
  font-size: 4.8rem;
  font-weight:bold;
}
.h-2{
  font-size: 3.6rem;
  font-weight:bold;
}
.h-3{
  font-size: 2.5rem;
  font-weight:bold;
}
p{
  color:var(--neutral-800);
}
.par-1{
  font-size:2.1rem;
}
.par-2{
  font-size:1.8rem;
}
.par-3{
  font-size:1.4rem;
}
/* text colors */
.text-shade-0{
  color:var(--shade-0);
}
.text-primary-500{
  color:var(--primary-500);
}
/* text utility */
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
.text-center{
  text-align:center;
}

/*weights*/
.extra-light{
  font-weight:100;
}

/* default tags */
ul{
  list-style: none;
  padding:0;
}

a{
  color: var(--neutral-800);
  text-decoration: none;
}
header{
  margin-bottom:140px;
}

nav li{
  margin:10px 0px;
  height:fit-content;
}
nav li .button{
  margin:0;
}
footer{
  height:100px;
}

.page-wrap, .hero , footer{
  padding:00px 40px;
}
.container{
  margin:40px 0;
  padding:40px;
}
.container-fluid{
  width:100%;
}

.hero{
  padding:00px 40px;
  background-size:cover;
  background-position:center;

  margin-top:59px;
  margin-bottom: 135px;

}
.row{
  display:flex;
  flex-direction:row;
}
.col-1{
  width:25%;
}
.col-2{
  width:50%;
}
.column{
  display:flex;
  flex-direction:column;
}

.text-input{
  font-size:2.1rem;
  background-color:var(--shade-0);
  border:none;
  margin:10px 0px;
  padding:10px 30px;
  border-radius:5px;
  border:2px solid var(--neutral-200);
}
.button{
  font-size:2.1rem;
  background-color:var(--secondary-500);
  border:none;
  color:var(--shade-0);
  margin:10px 0px;
  padding:10px 30px;
  border-radius:5px;
}

.button-secondary-50{
  background-color:var(--secondary-50)
}
.button-secondary-300{
  background-color:var(--secondary-300)
}
.button-secondary-500{
  background-color:var(--secondary-500)
}
.button-secondary-700{
  background-color:var(--secondary-700)
}
.button-secondary-900{
  background-color:var(--secondary-900)
}

.button-ghost-shade-0{
  background-color:transparent;
  outline:2px solid var(--shade-0);
  color:var(--shade-0);
}

.button-ghost-secondary-500{
  background-color:var(--shade-0);
  outline:2px solid var(--secondary-500);
  color:var(--secondary-500);
}
.button-ghost-secondary-300{
  background-color:var(--shade-0);
  outline:2px solid var(--secondary-300);
  color:var(--secondary-300);
}

/*button grow animation*/
.button {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.button:hover, .button:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*ghost button animation */
.button-ghost-shade-0, .button-ghost-secondary-500, .button-ghost-secondary-300 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color,outline,transform;
  transition-property: color,outline,transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.button-ghost-shade-0:before {
  background: var(--shade-0);
}
.button-ghost-secondary-500:before {
  background: var(--secondary-500);
}
.button-ghost-secondary-300:before {
  background: var(--secondary-300);
}

.button-ghost-shade-0:before ,.button-ghost-secondary-500:before,.button-ghost-secondary-300:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button-ghost-shade-0:hover, .button-ghost-shade-0:focus, .button-ghost-shade-0:active{
  color:var(--primary-500);
  outline-color:var(--shade-0);
}

.button-ghost-secondary-500:hover, .button-ghost-secondary-500:focus, .button-ghost-secondary-500:active {
  color:var(--shade-0);
  outline-color:var(--secondary-500);
}

.button-ghost-secondary-300:hover, .button-ghost-secondary-300:focus, .button-ghost-secondary-300:active {
  color:var(--shade-0);
  outline-color:var(--secondary-300);
}

.button-ghost-shade-0:hover:before, .button-ghost-shade-0:focus:before, .button-ghost-shade-0:active:before,
.button-ghost-secondary-500:hover:before, .button-ghost-secondary-500:focus:before, .button-ghost-secondary-500:active:before,
.button-ghost-secondary-300:hover:before, .button-ghost-secondary-300:focus:before, .button-ghost-secondary-300:active:before   {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.card img{
  width:100%;
  border-radius: 50px 50px 0px 0px;
}

.cta-bar{
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
}
.cta-bar p{
  margin-top:0;
  margin-bottom:10px;
}

/*Utility, colors */

.bg-neutral-50{
  background-color:var(--neutral-50);
}
.bg-neutral-100{
  background-color:var(--neutral-100);
}
.bg-primary-500{
  background-color:var(--primary-500);
}
.display-none{
  display:none;
}
@media only screen and (min-width : 722px){
  /* tablet sizes */
  header{
    display:flex;
    flex-direction:row;

   justify-content: space-between;
  }
  header nav ul{
    display:flex;
    flex-direction:row;
    align-items: center;
  }
  header nav ul li{
    padding:0px 10px;
  }

  .button{
    width:fit-content;

    margin-right:10px;
  }

  .row-tablet{
    display:flex;
    flex-direction:row;
  }

  .cta-bar{
    align-items:start;
    text-align:start;
  }

}

@media only screen and (min-width : 1300px){

  .hero-content{
    max-width:50%;
  }
  .hero,.container{
    max-width: 1137px;
    margin-left:auto;
    margin-right:auto;
  }

  .cta-bar{
    flex-direction:row;
    justify-content: space-between;
  }
  .row-desktop{
    display:flex;
    flex-direction:row;
  }

}