

html{

/* colors */
  /* neutral */
--neutral-50: #F6F6F6;
--neutral-100: #ECECEC;
--neutral-200: #E4E4E4;
--neutral-300: #DDDDDD;
--neutral-400: #C9C9C9;
--neutral-500: #B5B5B5;
--neutral-600: #9A9A9A;
--neutral-700: #7F7F7F;
--neutral-800: #606060; 
--neutral-900: #484848; 
  /* Primary */
--primary-50: #F8DEE8;
--primary-300: #ECBECF; 
--primary-500: #E48EAD; 
--primary-700: #BC406D; 
--primary-900: #7C2745;
  /* Secondary */
--secondary-50: #D0E1F9; 
--secondary-300: #A1BEE4;
--secondary-500: #5B89C5;
--secondary-700: #3D669C;
--secondary-900: #274A79; 
    /* Seccess */
--success-50: #BAE4CB; 
--success-300: #81E3A8; 
--success-500: #11D25E; 
--success-700: #0CB34F; 
--success-900: #02953D; 
    /* Warning */
--warning-50: #FFF7D1; 
--warning-300: #FFEC86; 
--warning-500: #FFE457; 
--warning-700: #FFD913; 
--warning-900: #DEBB02; 
    /* Error */
--error-50: #FFD6D6 ; 
--error-300:#FF8B8B; 
--error-500:#FF5F5F; 
--error-700:#DD4848; 
--error-900: #A41D1D; 
    /* Shades */
--shade-0: #FFFFFF; 
--shade-100: #333333; 

/* fonts */
font-family: 'Inter', sans-serif;
/* set base font size to 10px */
font-size: 62.5%;
}


body{
  margin:0px;
  font-size:2.1rem;
}
/* text size */
.h-1{
  font-size: 4.8rem;
  font-weight:bold;
}
.h-2{
  font-size: 3.6rem;
  font-weight:bold;
}
.h-3{
  font-size: 2.5rem;
  font-weight:bold;
}
p{
  color:var(--neutral-800);
}
.par-1{
  font-size:2.1rem;
}
.par-2{
  font-size:1.8rem;
}
.par-3{
  font-size:1.4rem;
}
/* text colors */
.text-shade-0{
  color:var(--shade-0);
}
.text-primary-500{
  color:var(--primary-500);
}
/* text utility */
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
.text-center{
  text-align:center;
}

/*weights*/
.extra-light{
  font-weight:100;
}

/* default tags */
ul{
  list-style: none;
  padding:0;
}

a{
  color: var(--neutral-800);
  text-decoration: none;
}
header{
  margin-bottom:140px;
}

nav li{
  margin:10px 0px;
}
footer{
  height:100px;
}

.page-wrap, .hero , footer{
  padding:00px 40px;
}
.container{
  margin:40px 0;
  padding:40px;
}
.container-fluid{
  width:100%;
}

.hero{
  padding:00px 40px;
  background-size:cover;
  background-position:center;

  margin-top:59px;
  margin-bottom: 135px;

}
.column{
  display:flex;
  flex-direction:column;
}


.button{
  background-color:var(--secondary-500);
  color:var(--shade-0);
  margin:10px 0px;
  padding:15px 25px;
  border-radius:5px;
}

.button-ghost-shade-0{
  background-color:transparent;
  border:2px solid var(--shade-0);
  color:var(--shade-0);
}

.button-ghost-secondary-500{
  background-color:var(--shade-0);
  border:2px solid var(--secondary-500);
  color:var(--secondary-500);
}

.card img{
  width:100%;
  border-radius: 50px 50px 0px 0px;
}

.cta-bar{
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
}
.cta-bar p{
  margin-top:0;
  margin-bottom:10px;
}

/*Utility, colors */

.bg-neutral-50{
  background-color:var(--neutral-50);
}
.bg-neutral-100{
  background-color:var(--neutral-100);
}
.bg-primary-500{
  background-color:var(--primary-500);
}

@media only screen and (min-width : 722px){
  /* tablet sizes */
  header{
    display:flex;
    flex-direction:row;

   justify-content: space-between;
  }
  header nav ul{
    display:flex;
    flex-direction:row;
  }
  header nav ul li{
    padding:0px 10px;
  }

  .button{
    width:fit-content;

    margin-right:10px;
  }

  .row-tablet{
    display:flex;
    flex-direction:row;
  }

  .cta-bar{
    align-items:start;
    text-align:start;
  }

}

@media only screen and (min-width : 1300px){

  .hero-content{
    max-width:50%;
  }
  .hero,.container{
    max-width: 1137px;
    margin-left:auto;
    margin-right:auto;
  }

  .cta-bar{
    flex-direction:row;
    justify-content: space-between;
  }
  .row-desktop{
    display:flex;
    flex-direction:row;
  }

}