/*styles for landing page*/
@media only screen and (min-width : 722px){
  /* tablet sizes */
  header{
    display:flex;
    flex-direction:row;

   justify-content: space-between;
  }
  header nav ul{
    display:flex;
    flex-direction:row;
    align-items: center;
  }
  header nav ul li{
    padding:0px 10px;
  }

  .button{
    width:fit-content;

    margin-right:10px;
  }

  .row-tablet{
    display:flex;
    flex-direction:row;
  }

  .cta-bar{
    align-items:start;
    text-align:start;
  }

}

@media only screen and (min-width : 1300px){

  .hero-content{
    max-width:50%;
  }
  .hero,.container{
    max-width: 1137px;
    margin-left:auto;
    margin-right:auto;
  }

  .cta-bar{
    flex-direction:row;
    justify-content: space-between;
  }
  .row-desktop{
    display:flex;
    flex-direction:row;
  }

}