/* styles for admin dashboard */
/* 330px */
body{
  background-color: var(--neutral-50);
}

#main-grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 
  "sidebar"
  "header"
  "projects"
  "announcements"
  "trending";
}
p{
  margin:0;
}
h1,h2,h3,h4{
  margin:20px 0;
}
/*----------------- sidebar ----------------- */

#sidebar{
  grid-area: sidebar;
  background-color:var(--secondary-700);
}
#sidebar nav{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding:20px 10px;
}
#logo{
  height:50px;
  width:auto;
}

/*----------------- header -----------------*/

header{
  grid-area: header;
  background-color:var(--shade-0);
  border-bottom:1px solid var(--shade-100);
  padding: 30px 0;
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:40px;
  margin-bottom:unset;
}
header .top-header{
  width:300px;
}
header #search{
  width:100%;
  margin-bottom:20px;
}
header #search input{
  max-width:100%;
  width:100%;
  box-sizing:border-box;
  padding:7px 7px;
  font-size:21px;
  border:1px solid var(--neutral-500);
  border-radius:10px;
}
header #search input::placeholder{
  color:var(--neutral-500);
}
header #search .icon{
  display:none;
}
header .bottom-header{
  width:300px;
}

header #profile{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  gap:30px;
}

header #profile .profile-small{
  width:50px;
  height:50px;
}

header #profile .user-name{
  display:none;
}
header #actions{
  display:flex;
  flex-direction:column;
  text-align:center;
  gap:10px;
}
header #actions .button{
  margin:0;
}
header #banner{
  display:none;
}

.icon{
  height:30px;
}
hr{
  border: 3px solid var(--secondary-500);
}

/*----------------- projects -----------------*/

#projects{
  grid-area:projects;
  width:300px;
  margin-left:auto;
  margin-right:auto;
}
.project,.announcements-background,.trending-background{
  background-color:var(--shade-0);
  border:1px solid var(--shade-100);
}

.project{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:50px 20px;
  gap:10px;
  box-sizing:border-box;
  margin:30px 0px;
}
.project h3,.project p{
  margin:0;
}
.project hr{
  width:50%;
  margin:0;
}
.project .description{
  text-align:center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow:hidden;
}
.project .project-icons{
  display:flex;
  gap:30px;
}



/*----------------- annoucements -----------------*/

#announcements{
  grid-area:announcements;
  width:280px;
  margin-left:auto;
  margin-right:auto;
}
.announcements-background,.trending-background{
  width:100%;
  padding:20px 20px;
  box-sizing:border-box;
}

.announcement .description{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow:hidden;
  font-size:var(--par-2);
}

/*----------------- trending -----------------*/

#trending{
  grid-area:trending;
  width:280px;
  margin-left:auto;
  margin-right:auto;
}
#trending .trending-background{
  width:100%;
  display:flex;
  flex-direction:column;
  gap: 20px;
}
.trending-profile{
  display:flex;
  flex-direction:row;
  align-items: center;
  gap:10px;
}

.trending-profile .trending-profile-info{
  display:flex;
  flex-direction:column;
  gap:5px;
}

.trending-profile-link,.trending-profile-name{
  font-size:var(--par-2);
}
.trending-profile-link{
  color:var(--shade-100);
}
.trending-profile-name{
  color:var(--neutral-600);
}

@media only screen and (min-width : 500px){
  header .top-header,header .bottom-header{
    width:400px;
  }
  /* --- header --- */
  header #search{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;

  }
  header #search .icon{
    display:block;
  }
  header #profile{
    gap:20px;
    justify-content: space-between;
  }
  header #profile .user-name{
    display:block;
    font-weight:bold;
    font-size:var(--par-1);
    color:var(--shade-100);
  }

  /* --projects -- */
  #projects{
    width:400px;
  }
  .project{
    align-items:start;
  }
  .project .description{
    text-align:start;
  }
  .project .project-icons{
    margin-top:20px;
    align-self: end;
  }
}