/* styles for signup form  */
body{
  background-color:var(--neutral-50);
  padding:50px 0px;
}
#content-wrapper > *{
  padding:0 20px;
}

#content-wrapper form{
  color:var(--shade-100);
  padding: 0;
}
form{
  margin-bottom:20px;
}
form label{
  font-weight:bold;
}
form .form-background{
  background-color:var(--shade-0);
  box-shadow:0px 5px 6px rgba(0, 0, 0, 0.12);

  padding:40px 20px;
  margin:40px 0;
}
form .button{
  margin-left:20px;
}
input{
  padding:6px;
  border-radius:0;
  border:1px solid var(--neutral-500);
}
form legend{
  margin-bottom:25px;
}

form .column > .column{
  margin:10px 0;
}

nav > *{
  margin:10px 0;
}
#display{
  display:none;
}
#display .display-image{
  width:100%;
  height:100%;
  object-fit:cover;
}
.logo-mix{
  display:none;
}
@media only screen and (min-width : 722px){
  .logo-primary{
    display:none;
  }
  .logo-mix{
    display:block;
    position:absolute;
    right:calc(50% - 146px);
    top:12%;
  }
  body{
    padding:0;
  }
  #content-wrapper{
    width:50%;
    padding:40px 0;
    /* space for logo */
    margin-top: 165px;
  }
  #display{
    position:relative;
    width:50%;
    display:block;
  }
  main{
    width:100%;
    display:flex;
    flex-direction:row;
  }
}